html,center,body {
  width: 100%;
  margin: 0px;
}

.circulologo {
  align-items: center;
  margin-top: 167px;
  height: 180px;
  width: 180px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 15px double transparent;
  border-radius: 50%;
  background-image: linear-gradient( 180deg, #FF2929 0%, #FF9029 25.52%, #FFEA29 48.96%, #C9F451 72.92%, #7AFF64 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#textoSUNDAY {
  font-family: 'Josefin Slab';
  align-items: flex-start;
  font-size: 64px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 45px;
}

#logoSol{
  align-items: flex-start;
  margin-left: 40px;
}