/*ESTILOS COMUNS*/
/*BARRA DE NAVEGAÇÃO*/
.navbar{
	height: 130px;
}
/*LOGOTIPO*/
#img-logo{
	width: 130px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav-link{
	text-transform: uppercase;
	/*Transforma todo texto em maiúsculo*/

	margin: 0 0 0 0 0px;
	/*Espaçamento externo; na ordem: top; right; bottom; left*/

	color: #000000;
	/*Para mudar a cor das palavras*/
}

/*REDES SOCIAIS*/
.redes{
	width: 25px;
	height: 25px;
}

/*NOMES E ANO*/
#devs{
	margin: 20px;
}
#ano{
	display: block;
	text-align: center;
	margin-top: 65px;
}
/*ESTILOS HOME*/
/*CARROSSEL*/
.foto-carrossel{
	height: 700px;
	background-color: pink;
}
/*SOBRE NÓS*/
.faixa-nos{
	height: 100px;
	background-color: #F9C411;
	color: #fff;
}
/*CONTAINER SOBRE NÓS*/
.cont{
	height: 500px;
}
/*SOBRE NÓS TEXTO*/
#c-txt{
	background-color: #F9C411;
}
#historia{
	padding: 10%;
}
/*SOBRE NÓS IMAGEM*/
#c-img{
	background-color: #248A47;
}
/*ESTILOS CARDÁPIO*/
/*CARDÁPIO*/
.faixa-cardapio{
	height: 100px;
	background-color: #F9C411;
	color: #fff;
}
/*CONTAINER CARDÁPIO*/
.cont-botoes{
	height: 200px;
	background-color: #FEFBF1;
}
/*BOTÕES CARDÁPIO*/
.menu-button{
	height: 50px;
	margin: 100px;
}
/*PRODUTOS CARDÁPIO*/
.cardapio-produtos{
	height: 1000px;
	background-color: #FEFBF1;
}
/*CARDS CARDÁPIO*/
.card{
	height: 200px;
	background-color: #fff;
}
/*TITULO CARD*/
.card-title{
}

/*RODAPÉ*/
.rodape{
	height: 150px;
	font-family: Roboto;
	background-color: #248A47;
	color: #fff;
}

/*Para adicionar o fundo amarelo do "---BR Entrega---"*/
.br-entrega{	
	height:50px;
	background-color: #F9C411;
	font-family: Mostra Nuova;
}

/*Para mexer nas palavras "BR Entrega"*/
#br-txt{
	text-transform: uppercase;
	/*Transforma todo texto em maiúsculo*/

	text-align: center;
	/*Para centralizar as palavras na tela*/

	margin-top: 12.5px;
	/*Para mexer */

	color: #FFFFFF;
	/*Para mudar a cor das palavras*/
}

/*Essa é a página com os contatos de entrega e o carrinho de delivery vazio*/
.entrega{
	height: 900px;
	background-color: #FEFBF1;
}

#esq{

	/*Para mexer na largura, altura e posição da tela do "retangulo"*/
	width: 750px;
	height: 750px;
	margin: 65px 0 0 45px;
	/*Espaçamento externo; na ordem: top; right; bottom; left*/
	/*background-color: #FEFBF1;*/
	border: 2px solid #2B80E6;
}

#dir{

	/*Para mexer na largura, altura e posição da tela do carrinho de delivery*/
	width: 575px;
	height: 750px;
	margin: 65px 0 0 45px;
	background-color: none;
	border: 0 solid #2B80E6;

}

#car{
	width: 100px;
}

.form-pag{
	height:50px;
	background-color: #41AB6F;
	font-family: Mostra Nuova;

}

/*Linha amarela abaixo do cabeçalho*/
.contate-nos{
	height:50px;
	background-color: #F9C411;
	font-family: Mostra Nuova;
}

.quadradobranco{
	margin: 200px;
	background-color: white;
}

input[type=submitazul]{
	margin: 10px;
	background-color: #2B80E6;
	border: none;
	border-radius: 6px;
	padding: 7px 34px;
	cursor: pointer;
	font-family: Mostra Nuova;
	color: white;
}

input[type=submitazul1]{
	margin: 10px;
	background-color: none;
	border-color: #2B80E6;
	border-radius: 6px;
	padding: 7px 34px;
	cursor: pointer;
	font-family: Mostra Nuova;
	color: gray;
}
input[type=submitazul2]{
	margin: 10px;
	background-color: none;
	border-color: #2B80E6;
	border-radius: 6px;
	padding: 7px 34px;
	cursor: pointer;
	font-family: Mostra Nuova;
	color: gray;
}

.whats{
	font-family: Roboto;
	color: gray;
	line-height: 300px;
}

#form{
	background-color: none;
	border: #2B80E6;
	margin: 50px;
	padding: 25px;

}

input[type=text]{
	width: 70%;
	padding: 5px;
	margin: 8px 8px;
}

input[type=submitenviar]{
	margin: 8px 8px;
	background-color: #2B80E6;
	border: none;
	border-radius: 6px;
	padding: 7px 14px;
	cursor: pointer;
	font-family: Mostra Nuova;
	color: white;
}
