html,center,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

hr {
  width: 450px;
  height: 2px;
  border: 0;
  border-top: 2px solid #bcbcbc;
  padding: 0;
  width: 98%;
}

#Calculando {
  font-family: 'Oswald';
  font-style: normal;
  font-size: 150%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logoSol {
  float: right;
  height: 50px;
}

.barraTopo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

#botaoConfig {
  float: right;
  height: 50px;
}


#titulo {
  font-family: 'Josefin Slab';
  align-items: flex-start;
  font-size: 230%;
  margin-left: 18px;
  width: 100%;
  margin-top: 8px;

}

#cntrlRaios {
  text-align: center;
  margin-top: 35px;
  font-family: 'Oswald';
  font-size: 210%;
  margin-bottom: 10px;
}

#indice {
  text-align: center;
  margin-top: 0px;
  font-family: 'Oswald';
  font-size: 180%;
}

.circuloIndicador {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  height: 180px;
  width: 180px;
  background-color: #fff;
  border: 15px double transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top , #FF2929, yellow,#90FF7E);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 60px;
}

#containerCirculo {
  margin-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#numeroIndiceUV {
  width: 100%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 300%;
}

.botao {
  background-color: #90FF7E;
    height: 70px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

.btn {
    padding: 1px;
    color:#000000;
    font-family: 'Oswald';
    font-size: 24px;
    text-decoration: none;
}

@media screen and (max-width: 321px) {
  #cntrlRaios {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 180%;
  }
  #indice {
    font-size: 150%;
  }
  #containerCirculo {
    margin-top: 20px;
  }
  #logoSol,#botaoConfig {
    height: 40px;
  }
  #titulo {
    font-size: 200%;
  }
  .botao{
    height: 50px;
    width: 50vw;
  }
  .btn {
    font-size: 20px;
  }
}
