html,center,body {
  width: 100%;
  margin: 0px;
}

hr {
  width: 450px;
  height: 2px;
  border: 0;
  border-top: 2px solid #bcbcbc;
  padding: 0;
  width: 98%;
}

.barraTopo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

#logoSol {
  float: right;
  height: 50px;
}

#seta {
  float: right;
  height: 50px;
}

#titulo {
  font-family: 'Josefin Slab';
  align-items: flex-start;
  font-size: 230%;
  margin-left: 18px;
  width: 100%;
  margin-top: 8px;
}

#textoTitulo {
  text-align: center;
  background-color: #90FF7E;
  font-family: 'Oswald';
  font-weight: normal;
  font-style: normal;
  font-size: 210%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*#textoSub {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
}*/

#texto1 {
  text-align: justify;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

}

#texto2 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-size: 22px;

}

#texto3 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

}

#texto4 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-size: 22px;

}

#texto5 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

}

#texto6 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-size: 22px;

}

#texto7 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

}

#texto8 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-size: 22px;

}

#texto9 {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

}

#texto10 {
  text-align: justify;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 40px;
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  font-size: 22px;

}

@media screen and (max-width: 321px) {
  #textoSub {
    font-size: 21px;
  }
  #logoSol,#botaoVoltar,#seta {
    height: 40px;
  }
  #titulo {
    font-size: 200%;
  }
  #textoTitulo {
    font-size: 180%;
  }
  #texto1,#texto3,#texto5,#texto7,#texto9 {
    font-size: 21px;
  }
   #texto2,#texto4,#texto6,#texto8,#texto10 {
    font-size: 19px;
  }

}
