html,center,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

hr {
  width: 450px;
  height: 2px;
  border: 0;
  border-top: 2px solid #bcbcbc;
  padding: 0;
  width: 98%;
}

#logoSol {
  float: right;
  height: 50px;
}

.barraTopo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

#botaoConfig {
  float: right;
  height: 50px;
}


#titulo {
  font-family: 'Josefin Slab';
  align-items: flex-start;
  font-size: 230%;
  margin-left: 18px;
  width: 100%;
  margin-top: 8px;

}

#cntrlRaios {
  text-align: center;
  margin-top: 35px;
  font-family: 'Oswald';
  font-size: 210%;
  margin-bottom: 10px;
}

#indice {
  text-align: center;
  margin-top: 0px;
  font-family: 'Oswald';
  font-size: 180%;
}

.circuloIndicador {
  align-items: center;
  height: 180px;
  width: 180px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 15px double transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top , #FF2929, yellow,#90FF7E);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#containerCirculo {
  margin-top: 40px;
}

#numeroIndiceUV {
  width: 100%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 300%;
}

#textoOI {
  font-family: 'Oswald';
  font-style: normal;
  font-size: 210%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#textoBEMVINDO{
  background-color: #90FF7E;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 190%;
  width: 100%;
  height: 78px;
  line-height: 250%;
  text-align: center;
  margin: 0;
}

#link {
  text-decoration: none;
  color: inherit;
}

.splash-screen {
  background: white; 
  position: absolute;
  display: flex;
  color: black;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100%;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.splash-screen-out {
  opacity: 0;
  transform: scale(4);
}

.splash-screen-none {
  display: none;
}

.circulologo {
  margin-top: 100px;
  height: 180px;
  width: 180px;
  background-color: #fff;
  border: 15px double transparent;
  border-radius: 50%;
  background-image: linear-gradient( 180deg, #FF2929 0%, #FF9029 25.52%, #FFEA29 48.96%, #C9F451 72.92%, #7AFF64 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-left: 20px;
}

#textoSUNDAY {
  font-family: 'Josefin Slab';
  font-size: 64px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 170px;
  margin-right: 160px;
}

#Sol{
  margin-left: 5px;
  margin-top: 40px;
}

@media screen and (max-width: 321px) {
  #cntrlRaios {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 180%;
  }
  #indice {
    font-size: 150%;
  }
  #containerCirculo {
    margin-top: 20px;
  }
  #logoSol,#botaoConfig {
    height: 40px;
  }
  #titulo {
    font-size: 200%;
  }
  #textoOI {
    font-size: 180%;
  }
  #textoBEMVINDO{
    font-size: 160%;
    height: 68px;
  }
  #fotoIndiceUV {
    height: 35px;
  }
}
