html,center,body {
  width: 100%;
  margin: 0px;
}

hr {
  width: 450px;
  height: 2px;
  border: 0;
  border-top: 2px solid #bcbcbc;
  padding: 0;
  width: 98%;
}

#logoSol {
  float: right;
  height: 50px;
}

.barraTopo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

#seta {
  float: right;
  height: 50px;
}


#titulo {
  font-family: 'Josefin Slab';
  align-items: flex-start;
  font-size: 230%;
  margin-left: 18px;
  width: 100%;
  margin-top: 8px;
}

#faixaManual {
  width: 100%;
  background-color: #90FF7E;
  font-family: 'Oswald';
  font-size: 210%;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

/*olá*/
.h1Manual {
  text-align: justify;
  font-family: 'Oswald';
  font-weight: 300; /*Light*/
  font-size: 33px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
}

/*VEJA OS PASSOS PARA UTILIZAR SUA PULSEIRA UV*/
.h3Manual {
  text-align: justify;
  font-family: 'Oswald';
  font-weight: 400; /*Regular*/
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
}

.textoManual {
  text-align: justify;
  font-family: 'Oswald';
  font-size: 22px;
  font-weight: 300; /*Light*/
  margin-left: 10%;
  margin-right: 10%;
}

/*Font-weight 'Oswald'= 200: Extra-Light
                        300: Light
                        400: Regular
                        500: Medium
                        600: Semi-bold
                        700: Bold*/


@media screen and (max-width: 321px) {
  #cntrlRaios {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  #containerCirculo {
    margin-top: 20px;
  }
  #logoSol,#seta {
    height: 40px;
  }
  #titulo {
    font-size: 200%;
  }
  #faixaManual {
    font-size: 180%;
  }
  #textoIndiceUV {
    font-size: 160%;
  }
  #fotoIndiceUV {
    height: 35px;
  }
  .h1Manual {
    font-size: 30px;
  }
  .h3Manual {
    font-size: 21px;
  }
  .textoManual {
    font-size: 19px;
  }
}
