html,center,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

hr {
  width: 450px;
  height: 2px;
  border: 0;
  border-top: 2px solid #bcbcbc;
  padding: 0;
  width: 98%;
}

.barraTopo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

#botaoConfig {
  float: right;
}


#titulo {
  font-family: 'Josefin Slab';
  align-items: flex-start;
  font-size: 230%;
  margin-left: 18px;
  width: 100%;
  margin-top: 15px;
}

#cntrlRaios {
  text-align: center;
  margin-top: 35px;
  font-family: 'Oswald';
  font-size: 180%;
  margin-bottom: 10px;
}

#indice {
  text-align: center;
  margin-top: 0px;
  font-family: 'Oswald';
  font-size: 150%;
}

.circuloIndicador {
  align-items: center;
  height: 180px;
  width: 180px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 15px double transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top , #FF2929, yellow,#90FF7E);
  background-origin: border-box;
  background-clip: content-box, border-box;
}



#containerCirculo {
  margin-top: 40px;
}

#numeroIndiceUV {
  width: 100%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 300%;
}


#textoOI {
  font-family: 'Oswald';
  font-style: normal;
  font-size: 250%;
  margin-top: 35px;
  margin-bottom: 45px;
}

#textoBEMVINDO{
  background-color: #90FF7E;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 180%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}


@media screen and (max-width: 321px) {
  #cntrlRaios {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  #containerCirculo {
    margin-top: 20px;
  }
  #logoSol,#botaoConfig {
    height: 40px;
  }
  #titulo {
    font-size: 180%;
  }
  #textoOI {
    font-size: 160%;
  }
  #fotoIndiceUV {
    height: 35px;
  }
}
