html,center,body {
  width: 100%;
  margin: 0px;
}

hr {
  width: 450px;
  height: 2px;
  border: 0;
  border-top: 2px solid #bcbcbc;
  padding: 0;
  width: 98%;
}

#logoSol {
  float: right;
  height: 50px;
}

.barraTopo {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

#seta {
  float: right;
  height: 50px;
}

#titulo {
  font-family: 'Josefin Slab';
  align-items: flex-start;
  font-size: 230%;
  margin-left: 18px;
  width: 100%;
  margin-top: 8px;
}

.espacoBranco {
  margin: 10%;
}

#faixaAcessibilidade {
  width: 100%;
  background-color: #90FF7E;
  font-family: 'Oswald';
  font-size: 200%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.tituloAcessibilidade {
  text-align: justify;
  font-family: 'Oswald';
  font-weight: 400; /*Regular*/
  margin-left: 10%;
  margin-right: 10%;
}

.textoAcessibilidade {
  text-align: justify;
  font-family: 'Oswald';
  font-weight: 300; /*Light*/
  margin-left: 10%;
  margin-right: 10%;
}

/*Font-weight 'Oswald'= 200: Extra-Light
                        300: Light
                        400: Regular
                        500: Medium
                        600: Semi-bold
                        700: Bold*/

#botaoLiga {
  display: block;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 321px) {
  #cntrlRaios {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  #containerCirculo {
    margin-top: 20px;
  }
  #logoSol,#seta {
    height: 40px;
  }
  #titulo {
    font-size: 180%;
  }
  #textoIndiceUV {
    font-size: 160%;
  }
  #fotoIndiceUV {
    height: 35px;
  }
}